<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitlock</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="hero" style="margin-bottom: 0px;">FITLOCK
         <h1>Your Fitness Journey Starts here</h1>
            <nav>
        <a href="index.html">Home</a>
         <a href="Diet plan.html">Diet Plan</a>
          <a href="Our products.html">Our products</a>
           <a href="Contact us.html">Contact Us</a>
            <a href="About us.html">About Us</a>

    </nav>
    </header>

    <main>
        <h1 style="text-align: center;">About Us</h1>
       <p style="font-size: 50px;
       margin-left: 70px;">We are a team of fitness enthusiasts dedicated to helping you live a healthier life. Our expert fitness coach provides personalized training and diet plans to help you achieve your fitness goals</p>
    </main>
    <button class="chatbot-btn" onclick="location.href='chatbot.html'">🤖 Chat with AI</button>
    
</body>
</html>