<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitlock</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="hero">FITLOCK
         <h1>Your Fitness Journey Starts here</h1>
            <nav>
        <a href="index.html">Home</a>
         <a href="Diet plan.html">Diet Plan</a>
          <a href="Our products.html">Our products</a>
           <a href="Contact us.html">Contact Us</a>
            <a href="About us.html">About Us</a>

    </nav>
    </header>

    <main>
          <h1> TRANSFORM YOUR BODY</h1>
            <h1>BE FIT BE FINE</h1>
        <div class="card" onclick="location.href='Diet plan.html'"> GET STARTED </div>
    </main>
    <button class="chatbot-btn" onclick="location.href='chatbot.html'">🤖 Chat with AI</button>
    
</body>
</html>